NODE_ENV=development
HOST=
MONGO_URI=
LOG_LEVEL=trace,debug,info,warn,error,fatal // increasing numeric value
RESERVED_INVITE_CODE={"+91XXXJKKIXX0":"INVITE02","+91ABCXXXXXXX":"INVITE01"} // pair of phone number followed by the invite code
EMAIL_USER=
EMAIL_PASSWORD=
JWT_SECRET=my-secret-token
ACCESS_TOKEN_EXPIRATION_TIME=1d
REFRESH_TOKEN_EXPIRATION_TIME=5d
HASH_SECRET=
