NODE_ENV=development
HOST=
MONGO_URI=
LOG_LEVEL=trace,debug,info,warn,error,fatal // increasing numeric value
RESERVED_INVITE_CODE=["+91XXXXXXXXXX", "MYINVITE", "+91XXXXXXXXXX", "INVITE02"] // pair of phone number followed by the invite code
EMAIL_USER=
EMAIL_PASSWORD=
